.menu-item.active{
    color: #155dfc;
}

.menu-item {
  position: relative;
  transition: color 0.3s ease;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #155dfc;
  transition: width 0.3s ease;
}

.menu-item:hover::after,
.menu-item.active::after {
  width: 100%;
}

nav {
  transition: all 0.3s ease;
}